#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.logo {
  height: 10rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: skew(10deg, 0deg);
  }
  to {
    transform: skew(0deg, 10deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}
